.vs/
build/x64-Release/*.dll
build/x64-Release/*.lib
build/x64-Release/*.cmake
build/x64-Release/CMakeFiles
build/x64-Release/Makefile
build/x64-Release/*.txt
build/x64-Release/*.ninja
build/x64-Release/*.exp
build/x64-Release/*.ilk
build/x64-Release/*.pdb
build/x64-Release/*.ninja_log
build/x64-Release/*.ninja_deps
build/*.txt
build/*.cmake
build/Makefile
build/CMakeFiles/*